body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: rgba(214, 200, 200, 0.582);
}

.quem-somos{
    background-color: rgb(33, 84, 126);
}

.margin{
   padding-top: 25px;
   padding-bottom: 50px;
}

.cab{
    padding-top: 30px;
    padding-bottom: 30px;
}

.parceiros{
    background-color: rgb(45, 45, 160);
}

.bg-footer{
    background-color: rgb(159, 159, 206);
}